/* @import url("https://fonts.googleapis.com/css?family=Lato:400,700,900) */

/* Home-Page-------------------------------------------------- */

body {
    font-family: 'Lato', sans-serif;
}

/* dropdown-menu styles*/

.navbar-nav .mr-auto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.active .nav-item .mr-2 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */

.nav-link li a:hover {
    background-color: #555;
    color: white;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


/*-- Container-wrappers --*/

.container-wrapper {
    background-color: white;
}

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.container-wrapper--pale {
    background-color: #fbe7e2;
}

/* Containers - creates a scroll flexible background*/

.callout-container {
    height: 100vh;

    background: url("../images/poco-8.png") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}




.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/*media beyond deep scroll flexible background*/

.container-fluid .callout-container .media .image {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("../images/backstageband.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.wrapper {
    height: 100px;
    width: 100px;
    color: ffff;
}


/*-- Navalert - Navbars --*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-logo {
    font-weight: bold;
    font-size: medium;
    font-style: oblique;
    color: #ce5a2b;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

/*-- Jumbotron-text center --*/

h3 .text-header {
    font-weight: 400px;
    font-size: 2.6rem;
    margin: 30px auto;
    text-align: center
}

.jumbotron .lead {
    margin: 30px auto;
    text-align: center;
}

p {
    box-sizing: border-box;
    color: ffff;
    background-color: transparent;
    text-align: center;
}

a {
    color: #ffff;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}

a:hover {
    color: #00BCD4;
    text-decoration: none;
}


.jumbotron-header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lato', serif;
    font-size: 72px;
    line-height: 80px;
}


/*-- Colours --*/

.jumbotron {
    background-color: transparent;
}


.jumbotron .lead {
    color: white;
}

.text-center {
    color: #fff;
}

.jumbotron-header span {
    color: #ce5a2b;
}

.jumbotron-header {
    color: #ffc107;
}

.jumbotron-header-1 span {
    color: #ce5a2b;
}

.jumbotron-header-1 {
    color: #ce5a2b;
}

/*-- Content-container --*/

.content-container {
    padding-top: 65px;
    padding-bottom: 75px;
    margin: 35px;
}

.container-fluid .about-container {
    padding-top: 30px;
    padding-bottom: 20px;
}


.container-fluid {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*-- Images --*/

.img .style .height {
    background-image: url("..images/poco-6.png");
}

/*-- Images-2 --*/

/*-- Block dividers --*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}


.block-divider--dark {
    background-color: #6f42c1;
}


/*-- About section --*/

.section .id-about {}

.about-row {
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
}

.about-header {
    font-weight: bold;
    margin-top: 25px;
}

p {
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: 30px;
    color: black
}

.about-row .about-p {
    font-size: .8em;
    margin: 40px 0px 40px 0px;
}

b {
    font-weight: bold;
}

/*-- Happenings --*/

h3 {
    font-weight: bold;
    color: fff;
}


h4 {
    font-weight: bold;
    color: black;
}

.block-divider .short {
    width: 35px;
}

/* css */

.wrapper {
    height: 100px;
    width: 100px;
}

.image {
    background-image: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


/*-- Anthology container --*/

.anthology-header {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}



.anthology .header {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: medium;
}

/* Beyond Deep media-container*/

.callout .beyond-jumbotron .text-center {
    height: 100vh;
}

.beyond-jumbotron {
    font-weight: bold;
    color: #f05f40;
}


.block-divider--orange {
    background-color: #f05f40;
}


/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;

}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/*-- Social-media links --*/

.social-links {
    padding-bottom: 15px;

}

.social-links li {
    display: inline;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 14px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ce5a2b;
}

.footer-details {
    margin: 25px;
}

/*-- Gallery-Styles ---------------------------------------------------- */

body {
    font-family: 'Lato', sans-serif;
    padding-top: 25px;
    margin-top: auto;
    padding-bottom: 3rem;
    font-size: 20px;
}


.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

p {
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: 30px;
    color: rgb(23, 20, 20);
}

p .something {
    color: #fff;
}

p span {
    color: #a7daef;
}

/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
}

.carousel-item .img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
    color: #fff;
    background-color: #df4929;
    border-color: #f05f40;
    font-size: 15px;
    float: right;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: #ce5a2b;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.image {
    background-image: url("assets/images/backstageband.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* html
    <div class="wrapper">
        <div class="image"></div>
    </div>
 end-html */

/* css */

.wrapper {
    height: 100px;
    width: 100px;
}

/*--bg-info .clearfix .style --*/

.bg-info {
    background-color: #ce5a2b! important;
}

.btn .btn-secondary {
    color: #fff;
    background-color: #df4929;
    border-color: #f05f40;
    font-size: 15px;
    float: right;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:active,
.btn-secondart:focus,
.btn-secondary:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: #ce5a2b;
}


/*-- Contact-Form ----------------------------------------------*/

h5 .uppercase text-center {
    font-weight: bold;
    color: black;
}

p {
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: 30px;
    color: black
}

.emailer {
    font-size: .8em;
    margin: 40px 25px 40px 25px;
}

.emailer b {
    font-weight: bold;
}


/*-- End - Contact-Form ----------------------------------------------*/

/*-- define variables and set to empty values----*/

/*-- Media embeds --*/

/*-- Media queries --

@media (min-width: 576px) { ... }


@media (min-width: 768px) { ... }





@media (min-width: 1200px) { ... }


/* RESPONSIVE CSS
--------------------------------------------------*/

/*-- Big info disappears on mobiles to avoid conflict with social-links --*/

@media (min-width: 992px) {
    .bg-info {
        background-color: #ce5a2b;
    }

    .btn .btn-secondary {
        color: #fff;
        background-color: #df4929;
        border-color: #f05f40;
        font-size: 15px;
        float: right;
    }

    .btn.btn-secondary:hover,
    .btn.btn-secondary:active,
    .btn-secondart:focus,
    .btn-secondary:active:focus {
        background-color: #df4929;
        border-color: #df4929;
        color: #ce5a2b;
    }




    @media (min-width: 40em) {
        /* Bump up size of carousel content */
        .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }

        .feature-heading {
            font-size: 50px;
        }
    }

    @media (min-width: 62em) {
        .featurette-heading {
            margin-top: 7rem;
        }

    }
