/* @import url("https://fonts.googleapis.com/css?family=Lato:400,700,900) */


body {
    font-family: 'Lato', sans-serif;
}

/*-- Containers --*/

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.callout-container {
    height: 100vh;
    
    /*-- Callout --*/
    
    background: url('../assets/images/poco-8.png') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/*-- Content-container --*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 25px;
    
}


 /*-- Imagess --
    
 .wrapper {
    height: 100px;
    width: 100px;
}

.image {
    background-image: url("image.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
}  
--*/


/*-- Navalert - Navbars --*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-logo {
    font-weight: bold;
    font-size: medium;
    font-style: oblique;
    color: #ce5a2b;
    
    
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/*-- Jumbotron --*/


     h2 {
    font-weight: bold;
    margin-bottom: 30px;
    color:#e3de2b;
    
}

.jumbotron .lead {
    margin: 25px 0;
}


.jumbotron-header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lato', serif;
    font-size: 72px;
    line-height: 80px;
}    
 /*-- Colours --*/
 
 .jumbotron {
    background-color: transparent;
}

 
 .jumbotron .lead {
     color: white;
}
 
.jumbotron-header span {
    color: #ce5a2b;
}

.jumbotron-header  {
    color: #e3de2b;
}
    

.happenings-header {
    color:#444;
}

    
/*-- Block dividers --*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}


/*-- About section --*/

.about-header  {
    font-weight: bold;
    margin-bottom: 30px;
    color: #ce5a2b;
}


.p {
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: 40px;
}

/*-- Contact info --*/

.contact-info {
    
}

/*-- Social media links --*/

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-links ul li {
    display: inline-block;
}


.social-links li a i:hover {
    background: #ce5a2b;
} 
#footer-details {
    margin: 20px;
}


/*-- Media queries --*/


@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}